.header {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 30px 12px;
  align-items: center;
  /* position: relative; */
  border-bottom: 1px solid rgba(109, 109, 109, 0.26);
  /*filter: drop-shadow(0px 3px 3px #555352);*/
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: #11050d9c;
}

.menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.material-symbols-outlined {
  cursor: pointer;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.icon-mobile {
  color: white;
}

.mobile-menu {
  display: none;
}

.web-menu {
  display: flex;
}

.title {
  display: flex;
  color: rgb(247, 239, 225);
  font-weight: 700;
  font-size: 22px;
  font-family: "Work Sans", sans-serif;
}

@media only screen and (max-width: 720px) {
  .mobile-menu {
    display: flex;

    span {
      margin-right: 10px;
    }
  }
  .web-menu {
    display: none;
  }
  .title {
    display: none;
  }
}
