.project-card {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0px;
  padding: 8px 0px;

  /* background-color: #ffffff;
    filter: drop-shadow(0px 1px 2px #555352);
    padding: 0px 10px; */
}

.project-photo {
  width: 20%;
  border-radius: 4px;
  /*filter: drop-shadow(1px 2px 3px #555352b4);*/
}

.project-info {
  width: 25%;
}

.project-title {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}

.project-about {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

/* .project-tags{
    display: flex;
    max-width: 60%;
    flex-wrap: wrap;
}

.tag{
    padding: 4px 8px;
    background-color: #ff8308;
    border-radius: 4px;
    margin-right: 6px;
    margin-bottom: 4px;
} */

.project-links {
  margin-top: 6px;
  display: flex;
}

.project-link {
  text-decoration: none;
  color: white;
}

.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(23, 163, 184, 0.418);
  width: max-content;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 18px;
  margin-right: 6px;
  /* filter: drop-shadow(2px 1px 3px #555352); */
}
/* .link-button i{
    display: flex;
    align-items: center;
    margin-right: 4px;
    font-size: 24px;
} */

@media only screen and (max-width: 720px) {
  .project-photo {
    width: 75%;
  }
  .project-card {
    flex-direction: column-reverse;
  }
  .project-info {
    /* margin-left: 0px; */
    width: auto;
    margin-top: 12px;
    text-align: center;
  }
  /* .project-tags{
        max-width: 100%;
    } */
}
