body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to right top,
    #181416,
    #1a1419,
    #1b141d,
    #1a1522,
    #171627,
    #171425,
    #161324,
    #161122,
    #170c1a,
    #140711,
    #0d0308,
    #000000
  );

  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='auto' height='auto' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(21%2c 67%2c 96%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c389.839C71.448%2c383.347%2c111.542%2c306.105%2c173.708%2c270.296C240.358%2c231.904%2c334.407%2c236.113%2c377.49%2c172.394C421.287%2c107.62%2c427%2c14.505%2c394.852%2c-56.771C363.87%2c-125.462%2c265.417%2c-130.28%2c215.509%2c-186.739C166.41%2c-242.282%2c177.829%2c-345.9%2c110.967%2c-377.918C45.329%2c-409.35%2c-34.114%2c-370.211%2c-99.064%2c-337.38C-156.955%2c-308.117%2c-199.482%2c-257.814%2c-234.568%2c-203.255C-265.975%2c-154.416%2c-269.588%2c-96.218%2c-289.277%2c-41.592C-315.156%2c30.206%2c-388.529%2c94.64%2c-368.484%2c168.281C-348.829%2c240.488%2c-259.388%2c265.259%2c-195.254%2c303.821C-133.043%2c341.227%2c-72.293%2c396.408%2c0%2c389.839' fill='%2311364d'%3e%3c/path%3e%3cpath d='M1440 1095.5639999999999C1549.175 1107.016 1670.375 1121.386 1760.55 1058.786 1850.209 996.544 1864.3899999999999 873.687 1905.348 772.517 1944.371 676.126 1995.989 584.22 1994.7730000000001 480.236 1993.454 367.408 1963.54 254.957 1898.222 162.949 1829.136 65.63400000000001 1733.096-14.600000000000023 1618.888-49.236999999999966 1504.193-84.02200000000005 1371.846-86.89599999999996 1267.224-28.422000000000025 1167.925 27.076999999999998 1153.135 161.07299999999998 1082.732 250.425 1016.929 333.93899999999996 900.533 376.474 868.351 477.80899999999997 834.589 584.118 852.414 706.155 907.131 803.3530000000001 960.156 897.546 1065.161 943.809 1159.939 995.783 1248.629 1044.4180000000001 1339.402 1085.011 1440 1095.5639999999999' fill='%23195073'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */

  /* background: linear-gradient(to right, rgb(243, 244, 246), rgb(209, 213, 219)) */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
