body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to right top,
    #181416,
    #1a1419,
    #1b141d,
    #1a1522,
    #171627,
    #171425,
    #161324,
    #161122,
    #170c1a,
    #140711,
    #0d0308,
    #000000
  );
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
